[Desktop Entry]
Type=Service
Encoding=UTF-8
Name=CvsService
Name[br]=Servij Cvs
Name[ca]=Servei de CVS
Name[cs]=CVS služba
Name[cy]=GwasanaethCVS
Name[de]=CVS-Dienst
Name[el]=Cvs υπηρεσία
Name[eo]=CvsServo
Name[es]=Servicio CVS
Name[et]=CVS teenus
Name[fi]=Cvs-palvelu
Name[hu]=CVS szolgáltatás
Name[it]=Servizio CVS
Name[ja]=CVS サービス
Name[lt]=CvsTarnyba
Name[nds]=CVS-Deenst
Name[pt_BR]=ServiçoCVS
Name[sv]=CVS-tjänst
Name[ta]=Cvsசேவை
Name[tg]=ҲизматиCvs
Name[x-test]=xxCvsServicexx
Name[zh_TW]=CVS 服務
Exec=cvsservice
X-DBUS-StartupType=Multi
X-KDE-StartupNotify=false
Comment=A D-Bus service that provides an interface to cvs
Comment[x-test]=xxA D-Bus service that provides an interface to cvsxx
