[Desktop Entry]
Type=Service
Name=CvsService
Exec=cvsservice5
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.cvsservice5
StartupNotify=false
Comment=A D-Bus service that provides an interface to cvs
