[Desktop Entry]
Encoding=UTF-8
GenericName=CVS Frontend
GenericName[af]=Cvs Voorprogram
GenericName[be]=Інтэрфейс да CVS
GenericName[ca]=Programa de CVS
GenericName[cs]=Rozhraní pro CVS
GenericName[cy]=Ochr Blaen CVS
GenericName[da]=CVS-grænseflade
GenericName[de]=Graphische Oberfläche für CVS
GenericName[el]=Σύστημα περιβάλλοντος CVS
GenericName[eo]=Fasado por la versioadministrilo "CVS"
GenericName[es]=Interfaz CVS
GenericName[et]=CVSi kasutajaliides
GenericName[eu]=CVS interfazea
GenericName[fa]=پایانۀ CVS
GenericName[fi]=Käyttöliittymä CVS:lle
GenericName[fr]=Interface graphique pour CVS
GenericName[ga]=Comhéadan ar CVS
GenericName[he]=ממשק CVS
GenericName[hr]=CVS sučelje
GenericName[hu]=CVS-kliens
GenericName[is]=Myndrænt viðmót á CVS
GenericName[it]=Interfaccia CVS
GenericName[ja]=CVS フロントエンド
GenericName[kk]=CVS интерфейсі
GenericName[lt]=CVS naudotojo sąsaja
GenericName[lv]=CVS Frontends
GenericName[ms]=Bahagian Depan CVS
GenericName[nb]=CVS-grensesnitt
GenericName[nds]=CVS-Böversiet
GenericName[ne]=CVS फ्रन्टइन्ड
GenericName[nl]=CVS-hulpprogramma
GenericName[nn]=CVS-grensesnitt
GenericName[pa]=CVS ਮੁੱਖ ਝਲਕ
GenericName[pl]=Interfejs do CVS
GenericName[pt]=Interface de CVS
GenericName[pt_BR]=Interface de CVS
GenericName[ro]=Interfaţă grafică pentru CVS
GenericName[ru]=Интерфейс к CVS
GenericName[sl]=Vmesnik CVS
GenericName[sr]=Сучеље за ЦВС
GenericName[sr@latin]=Sučelje za CVS
GenericName[sv]=CVS-gränssnitt
GenericName[ta]=CVS முன்பகுதி
GenericName[tg]=Интерфейс ба CVS 
GenericName[tr]=CVS Önyüzü
GenericName[uk]=Інтерфейс до CVS
GenericName[x-test]=xxCVS Frontendxx
GenericName[xh]=CVS Isiqalo sesiphelo
GenericName[zh_CN]=CVS 前端
GenericName[zh_TW]=CVS 前端
Exec=cervisia -caption "%c" %i %u
Path=
Icon=cervisia
X-DocPath=cervisia/index.html
Type=Application
Terminal=false
MimeType=inode/directory;
Name=Cervisia
Name[eo]=Versioadministrilo
Name[ne]=सर्भिसिया
Name[pa]=ਸਰਵੀਸੀਆ
Name[sr]=Цервисија
Name[ta]= செர்வியா
Name[x-test]=xxCervisiaxx
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libcervisiapart
X-KDE-BrowserView-Args=DetailedList

X-DBUS-StartupType=Multi
Categories=Qt;KDE;Development;
