<!DOCTYPE kpartgui>
<kpartgui name="CervisiaPart" version="3">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_open"/>
    <Action name="file_open_recent"/>
    <Separator/>
    <Action name="insert_changelog_entry"/>
    <Separator/>
    <Action name="file_update"/>
    <Action name="file_status"/>
    <Separator/>
    <Action name="file_edit"/>
    <Action name="file_resolve"/>
    <Separator/>
    <Action name="file_commit"/>
    <Action name="file_add"/>
    <Action name="file_add_binary"/>
    <Action name="file_remove"/>
    <Action name="file_revert_local_changes"/>
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Action name="stop_job"/>
    <Separator/>
    <Action name="view_log"/>
    <Action name="view_annotate"/>
    <Action name="view_diff"/>
    <Action name="view_last_change"/>
    <Action name="view_history"/>
    <Separator/>
    <Action name="settings_hide_files"/>
    <Action name="settings_hide_uptodate"/>
    <Action name="settings_hide_removed"/>
    <Separator/>
    <Action name="view_unfold_tree"/>
    <Action name="view_fold_tree"/>
  </Menu>
  <Menu name="advanced"><text>&amp;Advanced</text>
    <Action name="create_tag"/>
    <Action name="delete_tag"/>
    <Action name="update_to_tag"/>
    <Action name="update_to_head"/>
    <Action name="merge"/>
    <Separator/>
    <Action name="add_watch"/>
    <Action name="remove_watch"/>
    <Action name="show_watchers"/>
    <Separator/>
    <Action name="edit_files"/>
    <Action name="unedit_files"/>
    <Action name="show_editors"/>
    <Separator/>
    <Action name="lock_files"/>
    <Action name="unlock_files"/>
    <Separator/>
    <Action name="make_patch"/>
  </Menu>
  <Menu name="repository"><text>&amp;Repository</text>
    <Action name="repository_checkout"/>
    <Action name="repository_import"/>
    <Action name="show_repositories"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="configure_cervisia"/>
    <Separator/>
    <Action name="settings_prune_dirs"/>
    <Action name="settings_update_recursively"/>
    <Action name="settings_commit_recursively"/>
    <Action name="settings_do_cvs_edit"/>
  </Menu>
  <Menu name="help"><text>&amp;Help</text>
    <Separator/>
    <Action name="help_cvs_manual"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="file_commit"/>
  <Action name="file_update"/>
  <Separator lineSeparator="true"/>
  <Action name="stop_job"/>
</ToolBar>
<Menu name="context_popup">
  <Action name="file_edit"/>
  <Action name="file_resolve"/>
  <Action name="view_log"/>
  <Separator/>
  <Action name="file_update"/>
  <Action name="file_commit"/>
  <Separator/>
  <Action name="file_add"/>
  <Action name="file_remove"/>
</Menu>
</kpartgui>

