[Desktop Entry]
GenericName=CVS Frontend
Exec=cervisia -qwindowtitle %c %u
Icon=cervisia
X-DocPath=cervisia/index.html
Type=Application
Terminal=false
MimeType=inode/directory;
Name=Cervisia

X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.cervisia5
Categories=Qt;KDE;Development;RevisionControl;
